<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
    <li><a href="#outbox" data-toggle="tab">Outbox</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="inbox">
      <% if @current_user.secondary_messages.present? %>
          <% @current_user.secondary_messages.each do |sm| %>

              <div class="message_container">
                <p class="sender"><strong>From: </strong><%= sm.user_1.email %>/p>
                <p class="created_at"><%= time_ago_in_words sm.created_at %> ago</p>
                <p class="content"><strong>Content: </strong><%= sm.content %></p>
                <div class="nav_panel">
                  <button class="button image">Show added image</button>
                  <button class="button answer">Send an answer</button>
                  <button class="button delete">Delete</button>
                </div>
              </div>

          <% end %>
      <% else %>
          <p> No messages </p>
      <% end %>
    </div>

    <div class="tab-pane" id="outbox">
      <% if @current_user.primary_messages.present? %>
          <% @current_user.primary_messages.each do |pm| %>

              <div class="message_container">
                <p class="sender"><strong>recipient: </strong><%= pm.user_2.username %></p>
                <p class="created_at"><%= time_ago_in_words pm.created_at %> ago</p>
                <p class="content">
                  <strong><%= link_to 'message:', message_path(pm) %></strong>
                  <%= truncate(pm.content, length: 200) %>
                </p>
                <div class="picture">
                  <%= image_tag(pm.image.url(:thumb)) %>
                </div>
                <div class="nav_panel">
                  <%= link_to 'Edit', edit_message_path(pm) %> |
                  <%= link_to 'Delete', message_path(pm), method: :delete, data: {confirm: 'Are you sure?'} %>
                </div>
              </div>

          <% end %>
      <% else %>
          <p> No messages </p>
      <% end %>
    </div>
  </div>
</div>
