<h1>Edit Painting</h1>

<%= image_tag @painting.image.url(:medium) %>

<%= form_for @painting, html: { multipart: true } do |p|%>

    <p>Change image:</p>
    <%= p.file_field :image %>
    <p>Name: <br><%=  p.text_field :name %></p>
    <p><%=  p.submit 'Save' %></p>


<% end %>