<head>
  <title> Profile page </title>
</head>



  <%= link_to 'Add new report', new_report_path %>

  <% current_user.reports.each do |r| %>
      <div class="report">
        <p><%= r.title %></p>
        <p><%= r.body %></p>
      </div>
      <%= link_to 'Show', report_path(r) %>
      <%= link_to 'Delete', report_path(r), method: :delete, data: {confirm: 'Are you sure?'} %>
  <%end%>
  <br>

