<head>
  <title> Profile page </title>
</head>

<body>

<div class='container-fluid'>
  <div class='row'>
      <div class="col-lg-3" id="sidebar">
        <div class="round-image-50 center-block">
          <%= image_tag(current_user.avatar.url(:medium)) %>
        </div>
        <hr>
        <div class="current_profile_state">
          <p>Total</p>
          <ul class="list-group">
            <li class="list-group-item"><span class="badge"><%= current_user.reports.count %></span>Reports</li>
            <li class="list-group-item"><span class="badge"><%= current_user.inverse_friendships.count %></span>Subscribers</li>
            <li class="list-group-item"><span class="badge"><%= current_user.friendships.count %></span>Subscription</li>
          </ul>
        </div>
        <div class="message-box">
          <p>Messages</p>
          <ul class="list-group">
            <li class="list-group-item"><span class="badge"><%= current_user.secondary_messages.count %></span><%= link_to 'Inbox', messages_inbox_path %></li>
            <li class="list-group-item"><span class="badge"><%= current_user.primary_messages.count %></span><%= link_to 'Outbox', messages_outbox_path %></li>
          </ul>
        </div>
      </div>
    <div class="col-lg-9 well">

    </div>
  </div>

</div>

</body>