<div class="current_users_avatar">
  <%= image_tag(current_user.avatar.url(:medium)) %>
</div>
<h4 class="current_users_username"><b><%= current_user.username %></b></h4>
<div class="current_users_status">Here will be users status</div>
<p class="current_users_frienships">
  <%= link_to 'followers', friendships_path, class: 'current_users_followers'%>
  <span class="badge"><%= current_user.friendships.count %></span> |
  <span class="badge"><%= current_user.inverse_friendships.count %></span>
  <%= link_to 'following', friends_path, class: 'current_users_following' %>
</p>

<hr>

<div class="sidebar_menu">
  <h4 class="sidebar_headline">Reports</h4>
  <ul class="list-group">
    <li class="list-group-item">
      <b><%= link_to 'New report', new_report_path, class: 'link_to' %></b>
    </li>
    <li class="list-group-item" id="my_reports">
      <span class="badge"><%= current_user.reports.count %></span>
      <span class="glyphicon glyphicon-user"></span>  <%= link_to 'My reports', root_path, class: 'link_to' %>
    </li>
    <li class="list-group-item" id="all_reports">
      <span class="glyphicon glyphicon-th-list"></span>  <%= link_to 'All reports', reports_path, class: 'link_to' %>
    </li>
    <li class="list-group-item" id="favorite">
      <span class="glyphicon glyphicon-heart"></span> Favorite
    </li>
    <li class="list-group-item" id="top_rated">
      <span class="glyphicon glyphicon-stats"></span> Top rated
    </li>
    <li class="list-group-item" id="categories">
      <span class="glyphicon glyphicon-th-large"></span><%= link_to 'Categories', categories_path, class: 'link_to' %>
    </li>
  </ul>

  <hr>

  <h4 class="sidebar_headline">Messages</h4>
  <ul class="list-group">
    <li class="list-group-item">
      <b><%= link_to 'New message', new_message_path, class: 'link_to' %></b>
    </li>
    <li class="list-group-item" id="inbox">
      <span class="glyphicon glyphicon-arrow-right"></span>
      <span class="badge"><%= current_user.secondary_messages.count %></span>
      <%= link_to 'Inbox', messages_inbox_path, class: 'link_to' %>
    </li>
    <li class="list-group-item" id="outbox">
      <span class="glyphicon glyphicon-arrow-left"></span>
      <span class="badge"><%= current_user.primary_messages.count %></span>
      <%= link_to 'Outbox', messages_outbox_path, class: 'link_to' %>
    </li>
  </ul>

  <hr>

  <h4 class="sidebar_headline">Gallery</h4>

</div>




