<h1>Edit report</h1>



<%= form_for @report, html: { multipart: true } do |f|%>


    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p>Title: <br><%= f.text_area :title, size: "50x1" %>
    <p>Story: <br><%=  f.text_area :body, size: "90x7" %></p>
    <p><%=  f.submit 'Save' %></p>



<% end %>

<% @report.paintings.each do |rp| %>

    <%= image_tag rp.image.url(:thumb) %>
    <%= rp.name %>
    <%= link_to 'Edit', edit_painting_path(rp) %>
    <%= link_to 'Destroy', painting_path(rp), method: :delete, data: {confirm: 'Are you sure?'} %>

<%end%>

<%= link_to 'Add painting', new_painting_path(report_id: @report.id), :method => :post %>