<h1>Reports#index</h1>
<p>Find me in app/views/reports/index.html.erb</p>

<% if @reports.present? %>

    <% @reports.each do |r| %>
        <div class="report_container">
          <p class="report_title">
            <strong>title: </strong><%= r.title %>
          </p>
          <p class="report_category">
            <strong>category: </strong><%= r.title %>
          </p>
          <p class="report_created_at"><%= r.created_at.strftime("%b %d, %Y (%l:%M %p)") %></p>
          <p class="report_stars">
            <strong>stars: </strong><%= r.title %>
          </p>
          <p class="report_body">
            <strong>about:</strong><%= truncate(r.body, length: 270) %>
          </p>
          <div class="report_nav_panel">
            <%= link_to 'Show', report_path(r) %>
          </div>
        </div>
    <% end %>
<% else %>
    <p> No reports </p>
<% end %>