<title> TravelClip | <%= @report.title %> </title>


<h2 class="report_headline"><%= @report.title %></h2>
<div class="report_navigation">
  <%= link_to 'Back To Reports', reports_path %> | <%= link_to 'Edit', edit_report_path(@report) %>
</div>

<div class="report_container">
  <p class="report_category">
    <strong>category: </strong><%= @report.category.name %>
  </p>
  <p class="report_created_at"><%= @report.created_at.strftime("%b %d, %Y (%l:%M %p)") %></p>
  <p class="report_stars">
    <strong>stars: </strong><%= @report.title %>
  </p>
  <p class="report_body">
    <strong>about:</strong><%= @report.body %>
  </p>
</div>

<h4 class="gallery_headline">Report Gallery</h4>


<div class="gallery_container">
  <% @report.paintings.each do |rp| %>

      <div class="picture_container">
        <p class="image_title"><%= rp.name %></p>
        <div class="report_image"><%= image_tag rp.image.url(:medium) %></div>
      </div>
  <% end %>
</div>


    <div class="accordeon_item">
      <a class="accordeon_trigger" href="#"><h4><%= @report.comments.count %>   Comments</h4></a>
      <div class="accordeon_inner">
        <% @report.comments.each do |comment| %>

            <p>
              <b><%= comment.user.username %></b> <br> <%= comment.body %>
              <%= link_to 'Delete', [@report, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
            </p>

        <% end %>

        <h4>Add a comment:</h4>
        <%= form_for([@report, @report.comments.build]) do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <p>
              <%= f.label :body %><br/>
              <%= f.text_area :body %>
            </p>
            <p>
              <%= f.submit %>
            </p>
        <% end %>
      </div>
    </div>



