<title> TravelClip | <%= @report.title %> </title>


<h2 class="report_headline"><%= @report.title %></h2>
<div class="report_navigation">
  <%= link_to 'Back To Reports', reports_path %> | <%= link_to 'Edit', edit_report_path(@report) %>
</div>

<div class="report_container">
  <p class="report_category">
    <strong>category: </strong><%= @report.title %>
  </p>
  <p class="report_created_at"><%= @report.created_at.strftime("%b %d, %Y (%l:%M %p)") %></p>
  <p class="report_stars">
    <strong>stars: </strong><%= @report.title %>
  </p>
  <p class="report_body">
    <strong>about:</strong><%= @report.body %>
  </p>
</div>

<h4 class="gallery_headline">Report Gallery</h4>


<div class="gallery_container">
  <% @report.paintings.each do |rp| %>

      <div class="picture_container">
        <p class="image_title"><%= rp.name %></p>
        <div class="report_image"><%= image_tag rp.image.url(:medium) %></div>
      </div>
  <% end %>
</div>
<br>

<% if @reviews.blank? %>
    <h3>No reviews just, yet... Would you like to add the first?</h3>
    <%= link_to 'Write a new review', new_report_review_path(@report), class: 'btn btn-danger' %>
<% else %>
    <% @reviews.each do |review| %>
        <div class="review">
          <p><b><%= review.user.username %></b></p>
          <p><%= review.rating %></p>
          <p><%= review.comment %></p>
        </div>
    <% end %>
<% end %>

<% if false %>

    <div class="accordeon_item">
      <a class="accordeon_trigger" href="#"><h4><%= @report.reviews.count %>   Reviews</h4></a>
      <div class="accordeon_inner">
        <% @report.reviews.each do |r| %>

            <p>
              <b><%= r.user.username %></b> <br>
              <%= r.rating %>
              <%= r.comment %>

            </p>

        <% end %>

        <h4>Add a review:</h4>
        <%= form_for([@report, @review]) do |f| %>
            <% if @review.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being
                    saved:</h2>

                  <ul>
                    <% @review.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label :rating %><br>
              <%= f.number_field :rating %>
            </div>
            <div class="field">
              <%= f.label :comment %><br>
              <%= f.text_area :comment %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
        <% end %>
      </div>
    </div>

<% end %>