<h1>Reports#show</h1>

<%= @report.title %>
<%= @report.body %>

<% @report.paintings.each do |rp| %>

  <%= image_tag rp.image.url(:thumb) %>
    <%= rp.name %>


<%end%>
<%= link_to 'Add painting', new_painting_path(report_id: @report.id), :method => :post %>