<title> TravelClip | <%= @report.title %> </title>


<h2 class="report_headline"><%= @report.title %></h2>
<div class="report_navigation">
  <%= link_to 'Back To Reports', root_path %>
</div>

<div class="report_container">
  <p class="report_category">
    <strong>category: </strong><%= @report.title %>
  </p>
  <p class="report_created_at"><%= @report.created_at.strftime("%b %d, %Y (%l:%M %p)") %></p>
  <p class="report_stars">
    <strong>stars: </strong><%= @report.title %>
  </p>
  <p class="report_body">
    <strong>about:</strong><%= @report.body %>
  </p>
  <div class="report_nav_panel">
    <%= link_to 'Edit', edit_report_path(@report) %>
  </div>
  <%= link_to 'Add painting', new_painting_path(report_id: @report.id), :method => :post, class: "add_painting" %>
</div>

<h4 class="gallery_headline">Report Gallery</h4>


<div class="gallery_container">
  <% @report.paintings.each do |rp| %>

      <div class="picture_container">
        <p class="image_title"><%= rp.name %></p>
        <div class="report_image"><%= image_tag rp.image.url(:medium) %></div>
        <div class="image_action">
          <%= link_to 'Edit', edit_painting_path(rp) %>
          <%= link_to 'Delete', painting_path(rp), method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
  <% end %>
</div>


